@import "../../styles/colors";

.header-tag {
  display: inline-block;
  padding: 2px 8px;
  margin: 3px 4px;
  font-size: 12px;
  line-height: 1.4;
  color: $tag-blue;
  text-decoration: none;
  white-space: nowrap;
  background: $twilight-blue;
  border: 1px solid $tag-blue;
  border-radius: 4px;

  &:hover {
    color: #fff;
    text-decoration: none;
    background: $tag-blue;
  }
}
