{
  "plugins": [
    ["module-resolver", {
      "alias": {
        "@": "./src"
      }
    }]
  ],
  "presets": [
    [
      "gatsby",
      {
        "targets": {}
      }
    ]
  ],
  "env": {
    "development": {
      "plugins": [ "istanbul" ]
    }
  }
}