@import "../styles/colors";

.post {
  @media screen and (max-width: 990px) {
    padding: 5px 25px;
  }

  border-radius: 2px;
}

.content {
  padding: 0;
  margin-right: auto;
  color: $content-black;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 5%);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media screen and (min-width: 990px) {
    margin-left: 1.5rem;
  }
}

.article-meta {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  align-items: center;
  padding: 0 30px;
  margin-bottom: 16px;

  @media screen and (max-width: 576px) {
    flex-direction: column;
    align-items: stretch;
  }
}
