@import "../styles/colors";

.navlink {
  display: inline-block;
  padding: 0.5rem 0.9rem;
  color: #7d7d7d;
  text-align: center;
  text-decoration: none;
  background: white;
  border: solid 1px #d7d7d7;
  border-radius: 0.2rem;
  &.active-link {
    color: #5252FF;
  }
  &.disable-link {
    color: #737373;
  }
}

.pagenum {
  display: inline-block;
  padding: 0.5rem 0.9rem;
  font-weight: 700;
  color: #f6fcff;
  text-align: center;
  text-decoration: none;
  background: $tag-blue;
  border: solid 1px #d7d7d7;
  border-radius: 0.2rem;
}

.pager {
  display: grid;
  grid-auto-flow: column;
  max-width: 100%;
}
