@import "../../styles/colors";
.related-posts {
  padding: 10px;
  background: linear-gradient($main-green, $bg),
    url("https://raw.githubusercontent.com/tubone24/blog/master/static/assets/bg.jpg");
  background: -moz-linear-gradient($main-green, $bg),
    url("https://raw.githubusercontent.com/tubone24/blog/master/static/assets/bg.jpg");
  -webkit-linear-gradient($main-green, $bg),
    url("https://raw.githubusercontent.com/tubone24/blog/master/static/assets/bg.jpg");
  background-size: cover;
}
