$blue: #0085a1;
$black: #404040;

.toc-wrap {
  padding-left: 12px;
  margin-top: 30px;
  color: darkgrey;
  list-style: none;
  border-left: #eee 3px solid;
  // Level 2
  ul {
    position: sticky; // Magic, please check MDN for more information 26-11-2017
    top: 100px;
    padding-left: 8px;

    li {
      list-style-type: none;

      p {
        margin-bottom: 0;
      }

      a {
        font-size: 0.9em;
        color: $blue;

        &:hover {
          color: lighten($blue, 10%);
        }
      }
    }
  }
}
