@import "../../styles/colors";

// Base styles

.custom-card {
  transition: box-shadow 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);

  &:hover {
    box-shadow: 0 0 30px 0 rgb(0 0 0 / 30%);
  }

}

.data {
  transition: transform 0.3s;
  transform: translateY(0);
}

.content {
  position: relative;
  z-index: 1;
  padding: 0.01em;
  background-image: $bg-backGround-pic;
  background-color: #fff;

  h4 {
    margin: 10px !important;
  }

  p {
    color: $black;
  }

  a {
    color: $white;
  }
}

.stats {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.title {
  color: $light-blue;
  margin-top: 10px;
}

.date {
  padding: 0.5em;
  color: $white;
  background-color: $bermuda;

  span {
    display: block;
    text-align: center;
  }
}

.wrapper {
  position: relative;
  min-height: 5rem;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 5%);
  transition: all 0.5s ease 0s;

  @media (min-width: 576px) {
    min-height: 5rem;
  }

  &:hover {
    opacity: 0.9;
  }
}