@import "../../../styles/colors";

.wordcloud {
  .lozad {
    opacity: 0;
  }

  .lozad.loaded {
    // background-image: $no-image-pic;
    opacity: 1;
    transition: opacity 300ms;
    width: 100%;
  }
}
