$bg: #f0fff0;
$white: #f0f1ff;
$gray: #bfbfbf;
$blue: #0085a1;
$san-juan: #2d4e68;
$pink: #ff7e79;
$main-green: #1bd77f;
$bermuda: #77d7b9;
$light-black: #404040;
$black: #000; // Blue
$cyan-blue: #8590a6;
$light-blue: #337ab7;
$regal-blue: #034378;
