$bg: #d5ffd7;
$white: #fff;
$gray: #bfbfbf;
$blue: #0085a1;
$san-juan: #2d4e68;
$pink: #ff7e79;
$pink-dark: #ff4d46;
$pink-light: #ffe8e7;
$main-green: #1bd77f;
$main-green-dark: #15a863;
$bermuda: #288378;
$light-black: #404040;
$black: #212529;
$twilight-blue: #f1f8ff;
$cyan-blue: #8590a6;
$light-blue: #337ab7;
$regal-blue: #034378;
$tag-blue: #005b94;
$link-blue: #0248b1;
$content-black: hsl(0deg 0% 20%);
$bg-backGround-pic: url("/assets/bg.svg");
// $no-image-pic: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='512' height='512'%3E%3Cpath fill='%23AAA' d='M0 48v416h512V48H0zm480 384H32V80h448v352zM352 160c0 26.51 21.49 48 48 48s48-21.49 48-48-21.49-48-48-48-48 21.49-48 48zm96 240H64l96-256 128 160 64-48 96 144z'/%3E%3C/svg%3E");
