@import "~bootstrap/scss/bootstrap";

@font-face {
  font-family: icomoon;
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/icomoon.eot?s0mo8f");
  src:
    url("/fonts/icomoon.eot?s0mo8f#iefix") format("embedded-opentype"),
    url("/fonts/icomoon.woff2?s0mo8f") format("woff2"),
    url("/fonts/icomoon.woff?s0mo8f") format("woff"),
    url("/fonts/icomoon.ttf?s0mo8f") format("truetype"),
    url("/fonts/icomoon.svg?s0mo8f#icomoon") format("svg");
  font-display: swap;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  /* stylelint-disable font-family-no-missing-generic-family-keyword */
  font-family: icomoon !important;
  /* stylelint-enable font-family-no-missing-generic-family-keyword */
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-transform: none;
  speak: never;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mail::before {
  content: "\e900";
}

.icon-email::before {
  content: "\e900";
}

.icon-letter::before {
  content: "\e900";
}

.icon-envelope::before {
  content: "\e900";
}

.icon-contact::before {
  content: "\e900";
}

.icon-clock::before {
  content: "\e901";
}

.icon-bars::before {
  content: "\e916";
}

.icon-500px::before {
  content: "\e902";
}

.icon-get-pocket::before {
  content: "\e903";
}

.icon-twitter::before {
  content: "\e904";
}

.icon-facebook-square::before {
  content: "\e905";
}

.icon-facebook::before {
  content: "\e906";
}

.icon-facebook-f::before {
  content: "\e906";
}

.icon-github::before {
  content: "\e907";
}

.icon-calendar::before {
  content: "\e908";
}

.icon-comment::before {
  content: "\e909";
}

.icon-chevron-up::before {
  content: "\e90a";
}

.icon-id-badge::before {
  content: "\e90b";
}

.icon-feed::before {
  content: "\e90c";
}

.icon-rss::before {
  content: "\e90c";
}

.icon-newspaper-o::before {
  content: "\e90d";
}

.icon-file::before {
  content: "\e90e";
}

.icon-angle-right::before {
  content: "\e90f";
}

.icon-user::before {
  content: "\e910";
}

.icon-chain::before {
  content: "\e911";
}

.icon-link::before {
  content: "\e911";
}

.icon-search::before {
  content: "\e912";
}

.icon-tags::before {
  content: "\e913";
}

.icon-soundcloud::before {
  content: "\e914";
}

.icon-cloud::before {
  content: "\e915";
}

* {
  /* San Francisco, ヒラギノ (macOS10.11+, iOS9+) */

  /* Helvetica, ヒラギノ (macOS10.0+?, iOS4+?) */

  /* Verdana, BIZ UDゴシック (Windows10 October 2018 Update+) */

  /* Verdana, Meiryo (WindowsVista+) */

  /* Robot (Android4.1+) */
  // font-family: '
  //   Noto Sans CJK JP', 'Noto Sans JP', -apple-system,
  //   BlinkMacSystemFont, 'Segoe UI', Roboto, 'Hiragino Sans', sans-serif;

  font-family:
    -apple-system,
    BlinkMacSystemFont,
    Verdana,
    Roboto,
    arial,
    "HiraKakuProN-W3",
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    "BIZ UDGothic",
    Meiryo,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Sans Emoji";
  font-size: inherit;
  font-feature-settings: "kern", "liga", "clig", "calt";
  font-kerning: normal;
  line-height: inherit;
  word-wrap: break-word;
}

a {
  text-decoration: none;
}

:root {
  scroll-behavior: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
}

.lozad {
  opacity: 0;
}

.lozad.loaded {
  //background-color: $bermuda;
  opacity: 1;
  transition: opacity 30ms;
}
