@import "../../styles/colors";

.ai-disclaimer {
  display: flex;
  align-items: flex-start;
  padding: 16px 20px;
  margin: 0 0 24px;
  background-color: #fff8e5;
  border-left: 4px solid #f5a623;
  border-radius: 4px;

  .ai-disclaimer-icon {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    margin-right: 12px;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    background-color: #f5a623;
    border-radius: 50%;
  }

  .ai-disclaimer-text {
    margin: 0;
    font-size: 14px;
    line-height: 1.6;
    color: #6b5900;
  }
}

.content-white-inner {
  padding: 30px;
  background: white;

  a {
    font-weight: 700;
    color: $tag-blue;

    &:hover {
      color: $blue;
      text-decoration: none;
    }
  }

  @for $i from 3 through 6 {
    h#{$i} {
      margin-top: 60px;
      margin-bottom: 30px;
      font-size: 32 - $i * 3px;
      font-weight: 400;
    }
  }

  h1 {
    margin-top: 70px;
    margin-bottom: 50px;
    font-size: 48px;
    font-weight: 600;
  }

  h2 {
    position: relative;
    padding-bottom: 5px;
    margin-top: 60px;
    margin-bottom: 15px;
    font-weight: 600;
    border-bottom: solid 3px;
  }

  h2::before {
    position: absolute;
    bottom: -3px;
    left: 0;
    display: block;
    width: 60px;
    height: 3px;
    content: "";
    background-color: $main-green;
  }

  h3 {
    padding-left: 15px;
    border-left: 5px solid $main-green;
  }

  ul,
  ol {
    padding: 0.5em 0.5em 0.5em 2em;
    margin-right: 10px;
    margin-bottom: 16px;
    margin-left: 10px;
    background: $twilight-blue;
    border-radius: 9px;
    box-shadow: 0 0 0 10px $twilight-blue;
  }

  ul li,
  ol li {
    line-height: 1.5;
  }

  blockquote {
    position: relative;
    box-sizing: border-box;
    padding: 35px 15px 10px;
    font-style: italic;
    color: #777;
    background: #f5f5f5;
    border-left: 4px solid #9dd4ff;
    box-shadow: 0 2px 4px rgb(0 0 0 / 14%);
  }

  blockquote::before {
    position: absolute;
    top: 5px;
    left: 3px;
    display: inline-block;
    font-family: sans-serif;
    font-size: 90px;
    line-height: 1;
    color: #9dd4ff;
    content: "“";
  }

  blockquote p {
    padding: 0;
    margin: 7px 0;
    line-height: 1.7;
  }

  blockquote cite {
    display: block;
    font-size: 0.9em;
    color: #888;
    text-align: right;
  }

  table {
    width: 100%;
    margin-top: 40px;
    margin-bottom: 50px;

    td {
      padding: 10px;
      text-align: center;
    }

    th {
      padding: 10px;
      text-align: center;

      td {
        line-height: 1.5;
        border-collapse: collapse;
        border: 1px solid #ccc;
      }
    }
  }

  table.type06 th {
    width: 150px;
    padding: 10px;
    font-weight: bold;
    color: #fff;
    vertical-align: top;
    background: #3f3f3f;
  }

  table.type06 td {
    width: 350px;
    padding: 10px;
    vertical-align: top;
  }

  tr:nth-child(even) {
    background: $twilight-blue;
  }

  code,
  pre {
    font-family: SFMono-Regular, Consolas, "Roboto Mono", "Courier New", "BIZ UDGothic", Meiryo, monospace;

    /* SFMono, monospace (macOS10.11+, iOS9+) */

    /* Consolas, BIZ UDゴシック (Windows10 October 2018 Update+) */

    /* Consolas, Meiryo (Windows7+) */

    /* Courier New, monospace (macOS10.3+?, iOS4+, WindowsXP+?) */

    /* Robot Mono, monospace (Android4+) */
  }
}
