@import "../../styles/colors";

@mixin cf {
  &::after,
  &::before {
    display: table;
    content: "";
  }

  &::after {
    clear: both;
  }
}

// Base styles

.data {
  transition: transform 0.3s;
  transform: translateY(0);
}

.data-content {
  position: relative;
  z-index: 1;
  padding: 1em;
  background-color: $white;
}

.stats {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.custom-card {
  transition: box-shadow 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);

  &:hover {
    box-shadow: 0 0 30px 0 rgb(0 0 0 / 30%);
  }

  p {
    color: $black;
  }
}

.date {
  padding: 0.8em;
  color: $white;
  background-color: $bermuda;

  span {
    display: block;
    text-align: center;
  }
}

.title {
  margin-top: 20px;
  color: $light-blue;
}

.wrapper {
  position: relative;
  min-height: 5.7rem;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 5%);
  transition: all 0.5s ease 0s;

  @media (min-width: 576px) {
    min-height: 15rem;
  }

  &:hover {
    opacity: 0.9;
  }
}

// Style for img tag to match div.wrapper
img.wrapper {
  display: block;
  width: 100%;
  height: 5.7rem;
  object-fit: cover;
  object-position: center;

  @media (min-width: 576px) {
    height: 15rem;
  }
}

.image-link {
  display: block;
}
