---
import Layout from '../layouts/Layout.astro';
---

<Layout
  title="404 Not Found"
  description="ページが見つかりませんでした"
  noindex={true}
>
  <div class="container">
    <div class="row">
      <div class="col" style="padding:4rem 2rem; text-align:center;">
        <h1>404 Not Found...</h1>
        <h2>Anything else...?</h2>
        <p><a href="/">ホームに戻る</a></p>
      </div>
    </div>
  </div>
</Layout>
