.contactForm {
  padding: 60px;
  margin: 0 auto;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px rgba(255, 255, 255, 0.5);
  -moz-box-shadow: 0 1px rgba(255, 255, 255, 0.5);
  box-shadow: 0 1px rgba(255, 255, 255, 0.5);

  input {
    width: 400px;
  }

  input:focus {
    border: solid 1px #1bd77f;
  }

  .btn-info {
    width: 500px;
    background-color: #1bd77f;
    border-color: #1bd77f;
  }
}

.form-control {
  margin: 0 auto;
}

.file-upload {
  display: none;
}
