.contactForm {
  position: relative;
  text-align: center;
  margin:  0 auto;
}

.contactFormContent {
  margin:  0 auto;
  padding: 60px;
}

.form-control {
  margin:  0 auto;
}
.file-upload {
  display: none;
}
