@import "../../styles/colors";

.img-container {
  $height: 500px;
  $width: 1920px;

  @media (min-width: 768px) {
    min-height: $height;
  }

  @media (max-width: 767.98px) {
    background-size: cover;
  }

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 58px 0.8125rem 0.8125rem;
  margin-top: -58px;
  margin-bottom: 10px;
  background-color: #000;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: cover;

  // For Tablet
  @media (min-width: 768px) {
    justify-content: center;
  }
}

.u-title {
  margin: 0 0 0.75rem;
  font-size: 1.7rem;
  line-height: 1.875rem;
  color: white; // TODO: Auto change color by detect background color
  text-shadow:
    1px 1.5px 0 #19a200,
    -1px -0.5px 0 #19a200,
    -1px 0.5px 0 #19a200,
    1px -0.5px 0 #19a200,
    0 0.5px 0 #19a200,
    -1px 0 #19a200,
    -1px 0 0 #19a200,
    1px 0 0 #19a200;

  // Medium devices (tablets, less than 992px)
  @media (max-width: 991.98px) {
    padding-top: 1.5rem;
  }
}

.u-subtitle {
  color: white;
  text-shadow:
    0.5px 0.5px 0 #19a200,
    -0.5px -0.5px 0 #19a200,
    -0.5px 0.5px 0 #19a200,
    0.5px -0.5px 0 #19a200,
    0 0.5px 0 #19a200,
    -1px 0 #19a200,
    -1px 0 0 #19a200,
    1px 0 0 #19a200;

  // Medium devices (tablets, less than 992px)
  @media (max-width: 991.98px) {
    display: flex;
    align-self: flex-end;
    justify-content: center;
    width: 100%;
    height: 1.2rem;
    font-size: 0.75rem;
    line-height: 1.2rem;
  }
}

.m-left {
  @media (max-width: 991.98px) {
    margin-right: auto;
  }
}

.text {
  @media (max-width: 991.98px) {
    margin-right: 0.5rem;
  }
}

.author-image {
  width: 1.25rem;
  height: 1.25rem;
  margin-right: 0.5rem;
  border-radius: 50%;
}

.author-name {
  margin-right: 0.5rem;
}

// For PC
@media (min-width: 992px) {
  .u-subtitle {
    font-size: 1rem;
  }
}

// For Tablet
@media (min-width: 768px) and (max-width: 991.98px) {
  .u-subtitle {
    align-self: center;
    width: auto;
  }
}
