@import "../../styles/colors.scss";

.custom-navbar {
  $item-color: $white;
  $radius: 6px;

  padding: 0.5rem 1.5rem;
  background-color: #f3f8f4;
  box-shadow: 0 0 20px rgba(14, 14, 14, 0.26);
  transition: background 0.5s;

  .navbar-toggler {
    border: 0;
  }

  .container {
    .navbar-brand {
      color: black;
      background: transparent;
      img {
        width: auto;
        height: 50px;
      }

      .brand-logo {
        padding: 1px 5px 2px;
        color: $white;
        background: $main-green;
        border-radius: $radius;
      }

      &:hover {
        color: $regal-blue;
        cursor: pointer;
        background-color: darken($white, 5%);
      }
    }
  }

  &.is-fixed {
    background: transparent;

    .btn-link {
      color: $white;
    }

    @media (max-width: 767.98px) {
      background: $white;

      .btn-link {
        color: $black;
      }

      .navbar-brand {
        color: $black;
      }
    }
  }
}
