@import "../../styles/colors.scss";

.custom-navbar {
  $item-color: $white;
  $radius: 6px;

  padding: 0.5rem 1.5rem;
  background-color: #f3f8f4;
  box-shadow: 0 0 20px rgb(14 14 14 / 26%);
  transition: background 0.5s;
}

.navbar-toggler {
  border: 0;
}

.navbar-nav {
  align-items: center;
}

.navbar-brand {
  img {
    width: auto;
    height: 45px;
    margin-top: -15px;
    margin-bottom: -10px;
  }
}