.image-loader {
  position: relative;
  overflow: hidden;

  .placeholder {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    filter: blur(2vw);
    opacity: 1;
    transition: opacity 0.5s linear;

    &.fade-out {
      opacity: 0;
    }
  }

  .img {
    position: relative;
    width: 100%;
    opacity: 0;
    animation: fade-in 0.5s linear forwards;
  }

  &--placeholder {
    .img {
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
