@import "../../styles/colors";

.intro-header {
  height: 100%;
  padding: 0 16px 12px;
  margin-right: 16px;
  margin-left: auto;
  background: $white;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 5%);

  @media (width <= 992px) {
    margin-right: 0;
    margin-bottom: 16px;
  }
}

.about-me {
  h2 {
    font-size: 1.5rem;
  }
}

.avatar {
  width: 120px;
  height: 120px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 50%;
  transition: transform 0.5s;

  &:hover {
    transform: scale(1.2);
  }
}

.soliloquy {
  text-align: center;
}

.custom-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 2.5em;
  height: 2.5em;
  color: $link;
  transition: color 0.3s ease;

  &:hover {
    color: $link-hover;
  }

  svg {
    vertical-align: middle;
  }
}
