name: Build Devcontainer Base Image
on:
  workflow_dispatch:
  push:
    branches:
      - 'image/**'

jobs:
  build_base_images:
    runs-on: ubuntu-latest
    name: build Docker Base image
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: docker login
        run: docker login docker.pkg.github.com -u tubone24 -p ${{ secrets.GITHUB_TOKEN }}
      - name: docker build
        run: docker build -t docker.pkg.github.com/tubone24/blog/dev-container-base -f .devcontainer/Dockerfile_base .
      - name: docker push
        run: docker push docker.pkg.github.com/tubone24/blog/dev-container-base
