name: Snyk
on:
  workflow_dispatch:
  pull_request:
    branches:
      - master
    paths:
      - functions/**
      - src/**
      - test/**
      - terraform/**
      - '!src/content/**'
env:
  cache-version: v2

jobs:
  snyk:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source code
        uses: actions/checkout@v4
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20.19.2
          registry-url: https://npm.pkg.github.com/
          scope: '@tubone24'
      - name: Get yarn cache directory path
        id: yarn-cache-dir-path
        run: echo "dir=$(yarn cache dir)" >> "${GITHUB_OUTPUT}"
      - name: Cache
        uses: actions/cache/restore@v3
        with:
          path: |
            ~/.cache
            ${{ steps.yarn-cache-dir-path.outputs.dir }}
            node_modules
          key: ${{ runner.os }}-build-${{ env.cache-version }}-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-version }}-${{ hashFiles('**/yarn.lock') }}
            ${{ runner.os }}-build-${{ env.cache-version }}-
      - name: yarn install
        env:
          GATSBY_GITHUB_CLIENT_SECRET: ${{secrets.GATSBY_GITHUB_CLIENT_SECRET}}
          GATSBY_GITHUB_CLIENT_ID: ${{secrets.GATSBY_GITHUB_CLIENT_ID}}
          GATSBY_ALGOLIA_SEARCH_API_KEY: ${{secrets.GATSBY_ALGOLIA_SEARCH_API_KEY}}
          GATSBY_ALGOLIA_INDEX_NAME: ${{secrets.GATSBY_ALGOLIA_INDEX_NAME}}
          GATSBY_ALGOLIA_APP_ID: ${{secrets.GATSBY_ALGOLIA_APP_ID}}
          GATSBY_ALGOLIA_ADMIN_API_KEY: ${{secrets.GATSBY_ALGOLIA_ADMIN_API_KEY}}
          GATSBY_GITHUB_SHA: ${{ github.sha }}
          FAUNADB_SERVER_SECRET: ${{secrets.FAUNADB_SERVER_SECRET}}
          NETLIFY_ENV: deploy-preview
          NODE_AUTH_TOKEN: ${{secrets.GITHUB_TOKEN}}
        run: |
          yarn install --frozen-lockfile
          yarn global add snyk
      - name: Install Playwright browsers
        run: yarn playwright install chromium --with-deps
      - name: yarn build
        env:
          GATSBY_GITHUB_CLIENT_SECRET: ${{secrets.GATSBY_GITHUB_CLIENT_SECRET}}
          GATSBY_GITHUB_CLIENT_ID: ${{secrets.GATSBY_GITHUB_CLIENT_ID}}
          GATSBY_ALGOLIA_SEARCH_API_KEY: ${{secrets.GATSBY_ALGOLIA_SEARCH_API_KEY}}
          GATSBY_ALGOLIA_INDEX_NAME: ${{secrets.GATSBY_ALGOLIA_INDEX_NAME}}
          GATSBY_ALGOLIA_APP_ID: ${{secrets.GATSBY_ALGOLIA_APP_ID}}
          GATSBY_ALGOLIA_ADMIN_API_KEY: ${{secrets.GATSBY_ALGOLIA_ADMIN_API_KEY}}
          GATSBY_GITHUB_SHA: ${{ github.sha }}
          FAUNADB_SERVER_SECRET: ${{secrets.FAUNADB_SERVER_SECRET}}
          NETLIFY_ENV: deploy-preview
        run: yarn build
      - name: build docker image
        run: docker build -t test-blog -f owasp/Dockerfile .
      - name: run snyk
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
        run: |
          {
            snyk test . || :
            snyk code test . || :
            snyk iac test terraform || :
            snyk container test test-blog || :
          } > snyk_all.txt
          grep -A 1000 "Testing " snyk_all.txt | grep -B 1000 "Organization:" > snyk.txt || :
          grep -A 1000 "Testing ." snyk_all.txt | grep -B 1000 "Organization:" | grep -A 1000 "Static code analysis" > snyk_code.txt || :
          grep -A 1000 "Testing terraform" snyk_all.txt | grep -B 1000 "Organization:" > snyk_iac.txt || :
          grep -A 1000 "Testing test-blog" snyk_all.txt | grep -B 1000 "Organization:" > snyk_container.txt || :
      - name: summarize
        run: |
          cat snyk.txt
          cat snyk_code.txt
          cat snyk_iac.txt
          cat snyk_container.txt
          touch summarize.txt
          {
            echo '# Snyk vulnerability report'
            echo '## OSS packages'
            echo ''
            echo ''
            echo '<details>'
            cat snyk.txt | sed -z 's/\n/\\n/g'
            echo '</details>'
            echo ''
            echo ''
            echo '## Application'
            echo ''
            echo ''
            echo '<details>'
            cat snyk_code.txt | sed -z 's/\n/\\n/g'
            echo '</details>'
            echo ''
            echo ''
            echo '## IaC'
            echo ''
            echo ''
            echo '<details>'
            echo ''
            cat snyk_iac.txt | sed -z 's/\n/\\n/g'
            echo ''
            echo '</details>'
            echo ''
            echo ''
            echo '## Container'
            echo ''
            echo ''
            echo '<details>'
            cat snyk_container.txt | sed -z 's/\n/\\n/g'
            echo '</details>'
          } >> summarize.txt
          echo '' >> summarize.txt
          sed -i -z 's/\n/\\n/g' summarize.txt
          sed -i 's/Testing \.\.\.\.//g' summarize.txt
          sed -i 's/Testing \. \.\.\.//g' summarize.txt
      - name: Post snyk Report Comment
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          URL: ${{ github.event.pull_request.comments_url }}
        run: |
          curl -X POST \
               -H "Authorization: token ${GITHUB_TOKEN}" \
               -d "{\"body\": \"$(cat summarize.txt)\"}" \
               "${URL}"
